/* Baseline grid, courtesy of http://joshnh.com/tools/em-baseline-generator.html */

html {
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.25em;
    line-height: 1.3333333333333333;
    margin-bottom: 0.6666666666666666em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.3125em;
    line-height: 1.1428571428571428;
    margin-bottom: 1.1428571428571428em;
}
h5 {
    font-size: 1.125em;
    line-height: 1.3333333333333333;
    margin-bottom: 1.3333333333333333em;
}
h6 {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
p,
blockquote {
    font-size: 1em;
    margin: 0 0 1.5em;
    line-height: 1.5;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
dl,
ol,
ul {
    font-size: 1em;
    margin: 0 0 1.5em;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* Layout stuff */

html, body {
  font-family: 'PT Sans', sans-serif;
  color: #333;
}

a {
  color: #3465a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 760px;
  margin: 1em auto;
}

#wrapper {
  margin: 0 1em;
}

/* Other stuff */

h1:before {
  content: "↓";
}

blockquote {
  border-left: 7px solid #ccc;
  padding-left: 10px;
}

textarea, pre {
  font-family: 'Inconsolata', sans-serif;
}

.center {
  text-align: center;
}

#input {
  min-height: 10em;
}

#to_json {
  margin: 0.5em;
}

#to_toml {
  margin: 0.5em;
}

button:after {
  content: " ↓";
}

#output, #input {
  width: 100%;
  clear: both;
  margin: 1em 0;
  border: 1px solid #999;
  padding: 2px;
}

.textareaClone {
  margin-top: 0 !important;
}

#footer {
  margin: 2em 0;
  clear: both;
}

.light, .light a {
  color: #666;
}

.light a:hover {
  color: #3465a4;
}

h1 .verbose { display: inline; }
h1 .shorter { display: none; }
h1 .short { display: none; }
h1 .shortest { display: none; }

@media screen and (max-width: 46em) {
  h1 .verbose { display: none; }
  h1 .shorter { display: inline; }
  h1 .short { display: none; }
  h1 .shortest { display: none; }
}

@media screen and (max-width: 40em) {
  h1 .verbose { display: none; }
  h1 .shorter { display: none; }
  h1 .short { display: inline; }
  h1 .shortest { display: none; }
}

@media screen and (max-width: 30em) {
  h1 .verbose { display: none; }
  h1 .shorter { display: none; }
  h1 .short { display: none; }
  h1 .shortest { display: inline; }
}
